.bodyWrap {
  padding: 15px;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.main {
  padding-top: 70px;
}

.title {
  color: #282c34;
  text-align: center;
  margin-top: 0;
  padding-top: 30px;
}